[submodule "luau"]
	path = extern/luau
	url = git@github.com:luau-lang/luau.git
[submodule "libuv"]
	path = extern/libuv
	url = git@github.com:libuv/libuv.git
[submodule "curl"]
	path = extern/curl
	url = git@github.com:curl/curl.git
[submodule "wolfssl"]
	path = extern/wolfssl
	url = git@github.com:wolfSSL/wolfssl.git
