/build/
/build[.-]*/
/out
/cmake/
/cmake[.-]*/
/coverage/
/.vs/
/.vscode/
/fuzz/luau.pb.*
/crash-*
/default.prof*
/fuzz-*
__pycache__
.cache
.clangd
compile_commands.json
*~
extern/libuv/libuv-static.pc
extern/libuv/DartConfiguration.tcl
extern/*/
generated
**/generated-types.luau
